.stateTango {
    padding: 2px;
    border-radius: 3px;
    color: black;
}

.ON, .OPEN, .EXTRACT {
    background-color: green;
    color: white;
}

.OFF, .CLOSE, .INSERT {
    background-color: white;
    color: black;
}

.MOVING, .RUNNING {
    background-color: blue;
    color: white;
}

.STANDBY {
    background-color: yellow;
    color: black;
}

.ALARM, .FAULT {
    background-color: red;
    color: white;
}

.INIT {
    background-color: beige;
    color: black;
}

.DISABLE {
    background-color: magenta;
    color: black;
}

.UNKNOWN {
    background-color: gray;
    color: black;
}

#TabularView .table {
    margin-bottom: 0px;
}